* {
	font-family: "Arial";
	font-size: 20px;
}

p[external] {
	color: yellow;
}

h1 {
	font-size: 50px;
}

/*   # for ID selector   */
#bootcamp-learning-list {
	text-transform: uppercase;
}

/*   Class Selector   */
/*   Syntax .class-name   */

.languages-learned {
	background-color: #7CB68E;
}

/*   Attribute Selector   */
/*   tagname[attribute]   */

li[attribute] {
	border-width: 2px;
	border-style: solid;
	border-color: #6699cc;
}

/*   Adjacent Sibling Selector   */
/*   Syntax: selector + selector  */

img + ul {
	list-style-type: none;
}

/*   Descendant Selector   */
/*   Syntax: selector selector   */

section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

/*   General Sibling Selector   */
/*   Selector ~ selector   */

ul ~ p {
	text-align: center;
	color: black;
}


/*   Child Selector   */
/*   Syntax: selector > selector   */

body > section > ul > li {
	letter-spacing: 10px;
}

